<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Parking_Management_V3.Properties.Settings.ParkingManagementV3ConnectionString" connectionString="Data Source=.;Initial Catalog=ParkingManagementV3;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ParkingManagementV3ConnectionString" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=ParkingManagementV3"/>
    <add name="ParkingManagementOnline" connectionString="Data Source=103.216.62.27;Initial Catalog=ParkingManagementOnline;User ID=Yanal;Password=1710ahmad.fard"/>
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Visual Studio 2013 Dark</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HeartSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50804/Heart.asmx" binding="basicHttpBinding" bindingConfiguration="HeartSoap" contract="ParkingMenagementProvider.HeartSoap" name="HeartSoap"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
